<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-start has-text-centered-mobile">
                <a class="footer-logo is-block has-mb-6" href="<%- url_for('/') %>">
                <% if (logo && logo.text) { %>
                    <%= logo.text %>
                <% } else { %>
                    <img src="<%- url_for(logo) %>" alt="<%= title %>" height="28">
                <% } %>
                </a>
                <p class="footer-sign">
                Copyright © <%= date(new Date(), 'YYYY') %> mxsyx.site All Rights Reserved.&nbsp;
                </p>
                <% if (busuanzi) { %>
                    <p class="footer-sign">
                        <span id="busuanzi_container_site_pv">
                            Total visits to this site <span id="busuanzi_value_site_pv" style="color:red"></span> times
                        </span>
                         | 
                        <span id="busuanzi_container_site_uv" style='display:none'>
                            Total Visitors to this site <span id="busuanzi_value_site_uv" style="color:red"></span> people
                        </span>
                    </p>
                <% } %>
            </div>
            <div class="level-end">
            <% if (Object.keys(links).length) { %>
                <div class="field has-addons is-flex-center-mobile has-mt-5-mobile is-flex-wrap is-flex-middle">
                <% for (let name in links) {
                        let link = links[name]; %>
                <p class="control">
                    <a class="button is-white <%= typeof(link) !== 'string' ? 'is-large' : '' %>" target="_blank" rel="noopener" title="<%= name %>" href="<%= url_for(typeof(link) === 'string' ? link : link.url) %>">
                        <% if (typeof(link) === 'string') { %>
                        <%= name %>
                        <% } else { %>
                        <i class="<%= link.icon %>"></i>
                        <% } %>
                    </a>
                </p>
                <% } %>
                </div>
            <% } %>
            <a href="http://beian.miit.gov.cn" style="color: #4a4a4a" target="_blank">冀ICP备19021016号-3</a>
            </div>
        </div>
    </div>
</footer>